!/.gitignore

/.minecraft/

/.metadata/*

!/.metadata/.plugins
/.metadata/.plugins/*

# Launch Files
!/.metadata/.plugins/org.eclipse.debug.core/

# Useful config files to share.
!/.metadata/.plugins/org.eclipse.core.runtime
/.metadata/.plugins/org.eclipse.core.runtime/*
!/.metadata/.plugins/org.eclipse.core.runtime/.settings/
/.metadata/.plugins/org.eclipse.core.runtime/.settings/*
!/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
!/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
!/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.gathering.prefs
!/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
!/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
!/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs

# Allow project specific files.
!/.metadata/.plugins/org.eclipse.core.resources/
/.metadata/.plugins/org.eclipse.core.resources/*
!/.metadata/.plugins/org.eclipse.core.resources/.projects/
/.metadata/.plugins/org.eclipse.core.resources/.projects/*

# Server-API project
!/.metadata/.plugins/org.eclipse.core.resources/.projects/server-api/
/.metadata/.plugins/org.eclipse.core.resources/.projects/server-api/*
!/.metadata/.plugins/org.eclipse.core.resources/.projects/server-api/org.eclipse.egit.core/

# Server-SRC project
!/.metadata/.plugins/org.eclipse.core.resources/.projects/server-src/
/.metadata/.plugins/org.eclipse.core.resources/.projects/server-src/*
!/.metadata/.plugins/org.eclipse.core.resources/.projects/server-src/org.eclipse.egit.core/

/server-vmc*